IoT_Dashboard.json
[
    {
        "id": "826880ae0edaf3c4",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35d84e1661220e87",
        "type": "tab",
        "label": "Home-Live - consumption",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3f466151cefe330",
        "type": "tab",
        "label": "Setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19c5158f8e9074e5",
        "type": "tab",
        "label": "Admin Setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bab716a8a493dbf",
        "type": "subflow",
        "name": "HumidUI (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "37193b5976b8907d"
                    },
                    {
                        "id": "8343c4742146fe3f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "2197f9b20e245122",
        "type": "subflow",
        "name": "TempUI (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 249,
                "wires": [
                    {
                        "id": "b8f1f2881f690446"
                    },
                    {
                        "id": "b7cc2d5e27f8b491"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "5d42028407c8959d",
        "type": "subflow",
        "name": "HumidUI (2) (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "c989e6f72cf48c76"
                    },
                    {
                        "id": "a784d57a49c142f7"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "e29556b61228715b",
        "type": "subflow",
        "name": "TempUI (2) (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 249,
                "wires": [
                    {
                        "id": "8fe67abb6594bf4d"
                    },
                    {
                        "id": "1cfaf54834eb426b"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "e417f8483103e8b4",
        "type": "subflow",
        "name": "HumidUI (2) (3)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "0e3be51ff49ff374"
                    },
                    {
                        "id": "cbc2d4c6bb16bc62"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "f2682ee4bcb6e0c7",
        "type": "subflow",
        "name": "TempUI (2) (3)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 249,
                "wires": [
                    {
                        "id": "aa4c65459e64482f"
                    },
                    {
                        "id": "2b7447dcc1d84656"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "deviceID",
                "type": "dev",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "type": "input",
                    "opts": {
                        "types": [
                            "dev",
                            "file",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red-dashboard/ui_chart.png"
    },
    {
        "id": "443be9c85abad5d6",
        "type": "group",
        "z": "35d84e1661220e87",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "b60dfc4ac6e17c62",
            "caced34b02fd86f8",
            "545ba76f3d838e39",
            "1e19e81cbbcc02da",
            "f2571359c99887eb",
            "b3961f38c1ce9fdb"
        ],
        "x": 14,
        "y": 219,
        "w": 872,
        "h": 122
    },
    {
        "id": "45e960f0757d3147",
        "type": "group",
        "z": "19c5158f8e9074e5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "62573284d9c7d45c",
            "af3b3cc7b6854585",
            "8ee22c6092aa380a",
            "05890f0d512d362c",
            "447dca4b8954bb11",
            "d15a09fda6dc4913",
            "235d03d7b8d427cf",
            "d01675d469a0514c",
            "785883bdca39fc62",
            "7ace21450d5bb09d",
            "98b4a4bfa15b15a9"
        ],
        "x": 94,
        "y": 1859
    },
    {
        "id": "f26e18f67ba7d048",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b37b344a9463c1ad",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0ca708bd9099f601",
        "type": "ui_group",
        "name": "User Interface",
        "tab": "da280d668b2e4eac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5af14529f0caa82",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6d42a467721bbee",
        "type": "ui_group",
        "name": "Threshold",
        "tab": "da280d668b2e4eac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da280d668b2e4eac",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "760d542e0573d812",
        "type": "ui_group",
        "name": "sensor history",
        "tab": "f5af14529f0caa82",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70fb6f524aecfe93",
        "type": "ui_group",
        "name": "Energy Consumption",
        "tab": "f5af14529f0caa82",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "872843d3cbac360c",
        "type": "ui_group",
        "name": "Sensor Live",
        "tab": "f5af14529f0caa82",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "916344f8e027fd93",
        "type": "ui_group",
        "name": "Schedual",
        "tab": "da280d668b2e4eac",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8c22ba9.e3a698",
        "type": "ui_group",
        "name": "Default",
        "tab": "67b508c8.9e9318",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67b508c8.9e9318",
        "type": "ui_tab",
        "name": "Test-Time",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "083d461c605f29cf",
        "type": "ui_group",
        "name": "Header",
        "tab": "f5af14529f0caa82",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c5f63df709b2b71",
        "type": "ui_group",
        "name": "Manual_schedule",
        "tab": "da280d668b2e4eac",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5188a4cc66916299",
        "type": "ui_group",
        "z": "3bab716a8a493dbf",
        "name": "Humidity",
        "tab": "e078c6b.429dd38",
        "order": 3,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1b078c3d9f60dd3",
        "type": "ui_group",
        "z": "2197f9b20e245122",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78467dade0c57cfb",
        "type": "ui_group",
        "z": "2197f9b20e245122",
        "name": "Temperature",
        "tab": "e078c6b.429dd38",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e078c6b.429dd38",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "210b3638edc51bb5",
        "type": "ui_group",
        "name": "Table",
        "tab": "e078c6b.429dd38",
        "order": 4,
        "disp": true,
        "width": "19",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1e6de0d4d0c97f8",
        "type": "ui_group",
        "name": "Heading",
        "tab": "e078c6b.429dd38",
        "order": 1,
        "disp": false,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8ace2a4a1cbed29",
        "type": "ui_tab",
        "name": "Admin Setting",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d6baf595358e84c",
        "type": "ui_group",
        "name": "Add User",
        "tab": "a8ace2a4a1cbed29",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d79b00d87650532",
        "type": "ui_group",
        "name": "Add Farm",
        "tab": "a8ace2a4a1cbed29",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98725e43d801d2c7",
        "type": "ui_group",
        "name": "Add Section",
        "tab": "a8ace2a4a1cbed29",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5eaa1609f4ba21bd",
        "type": "ui_group",
        "name": "Delete",
        "tab": "a8ace2a4a1cbed29",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c9cbac3de8fa724",
        "type": "ui_group",
        "name": "Admin",
        "tab": "a8ace2a4a1cbed29",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f87d31a2c761a19",
        "type": "mui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "m-base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "m-page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "m-group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "m-widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "m-widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "19568d399c29b2bf",
        "type": "ui_group",
        "z": "5d42028407c8959d",
        "name": "Humidity",
        "tab": "e078c6b.429dd38",
        "order": 3,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "14248dd32da0f7dc",
        "type": "ui_group",
        "z": "e29556b61228715b",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d1dabebdba54fee",
        "type": "ui_group",
        "z": "e29556b61228715b",
        "name": "Temperature",
        "tab": "e078c6b.429dd38",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c781d8c84bdd41bd",
        "type": "ui_group",
        "z": "e417f8483103e8b4",
        "name": "Humidity",
        "tab": "e078c6b.429dd38",
        "order": 3,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fba9f36d6265103",
        "type": "ui_group",
        "z": "f2682ee4bcb6e0c7",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdf4f3b2213003a6",
        "type": "ui_group",
        "z": "f2682ee4bcb6e0c7",
        "name": "Temperature",
        "tab": "e078c6b.429dd38",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "37193b5976b8907d",
        "type": "ui_gauge",
        "z": "3bab716a8a493dbf",
        "name": "Humid Gauge",
        "group": "5188a4cc66916299",
        "order": 1,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": "60",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "92",
        "className": "",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "8343c4742146fe3f",
        "type": "ui_chart",
        "z": "3bab716a8a493dbf",
        "name": "Humidity Chart",
        "group": "5188a4cc66916299",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b8f1f2881f690446",
        "type": "ui_gauge",
        "z": "2197f9b20e245122",
        "name": "TempGauge",
        "group": "78467dade0c57cfb",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "56",
        "className": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "b7cc2d5e27f8b491",
        "type": "ui_chart",
        "z": "2197f9b20e245122",
        "name": "Temp Chart",
        "group": "78467dade0c57cfb",
        "order": 2,
        "width": 11,
        "height": 4,
        "label": "Temperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c989e6f72cf48c76",
        "type": "ui_gauge",
        "z": "5d42028407c8959d",
        "name": "Humid Gauge",
        "group": "19568d399c29b2bf",
        "order": 1,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": "60",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "92",
        "className": "",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "a784d57a49c142f7",
        "type": "ui_chart",
        "z": "5d42028407c8959d",
        "name": "Humidity Chart",
        "group": "19568d399c29b2bf",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8fe67abb6594bf4d",
        "type": "ui_gauge",
        "z": "e29556b61228715b",
        "name": "TempGauge",
        "group": "7d1dabebdba54fee",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "56",
        "className": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "1cfaf54834eb426b",
        "type": "ui_chart",
        "z": "e29556b61228715b",
        "name": "Temp Chart",
        "group": "7d1dabebdba54fee",
        "order": 2,
        "width": 11,
        "height": 4,
        "label": "Temperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0e3be51ff49ff374",
        "type": "ui_gauge",
        "z": "e417f8483103e8b4",
        "name": "Humid Gauge",
        "group": "c781d8c84bdd41bd",
        "order": 1,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": "60",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "92",
        "className": "",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "cbc2d4c6bb16bc62",
        "type": "ui_chart",
        "z": "e417f8483103e8b4",
        "name": "Humidity Chart",
        "group": "c781d8c84bdd41bd",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "aa4c65459e64482f",
        "type": "ui_gauge",
        "z": "f2682ee4bcb6e0c7",
        "name": "TempGauge",
        "group": "fdf4f3b2213003a6",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value | number:1}}",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "56",
        "className": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "2b7447dcc1d84656",
        "type": "ui_chart",
        "z": "f2682ee4bcb6e0c7",
        "name": "Temp Chart",
        "group": "fdf4f3b2213003a6",
        "order": 2,
        "width": 11,
        "height": 4,
        "label": "Temperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "02389dcf34865cb3",
        "type": "http request",
        "z": "826880ae0edaf3c4",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "37febdee46811633",
        "type": "ui_text",
        "z": "826880ae0edaf3c4",
        "group": "083d461c605f29cf",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Pump status    ",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>   {{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4fd033c9b22ae27",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "Make Link status of pump",
        "func": "if (msg.payload == \"trig\") {\n    let tmp = {};\n    let user = global.get(\"user\");\n    let farm = global.get(\"farm\");\n    let sec = global.get(\"section\");\n    global.set(\"pump_check\", \"off\");\n    tmp.method = \"GET\";\n    let link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\n    tmp.url = link;\n    return tmp;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "02389dcf34865cb3"
            ]
        ]
    },
    {
        "id": "cff50fcb45ee4082",
        "type": "inject",
        "z": "826880ae0edaf3c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pump_check",
        "payloadType": "global",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "d4fd033c9b22ae27"
            ]
        ]
    },
    {
        "id": "edfd41f9205cebcc",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\nglobal.set(\"pump_check\", \"off\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "02389dcf34865cb3"
            ]
        ]
    },
    {
        "id": "91edf54a2c938b34",
        "type": "ui_chart",
        "z": "826880ae0edaf3c4",
        "name": "",
        "group": "760d542e0573d812",
        "order": 6,
        "width": "10",
        "height": "7",
        "label": "Moisture History",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dcfb75b566d0bd76",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "function 8",
        "func": "let tmp = {};\n// const s_date = new Date(msg.payload.start);\n// const s_date = flow.get(\"s_date_live\")\nvar s_date = new Date(msg.payload.start);\nlet s_year = s_date.getFullYear();\nconst s_month = s_date.getMonth()+1;\nconst s_day = s_date.getDate();\n\nvar min = msg.payload.f_time / 60000;\nvar s_hh = Math.floor(min / 60).toString();\nvar s_mm = Math.floor(min % 60).toString();\n\nif (s_mm.length < 2) {\n    s_mm = '0' + s_mm;\n}\n\nif (s_hh.length < 2) {\n    s_hh = '0' + s_hh;\n}\n\n// const e_date = new Date(msg.payload.end);\n// const e_date = flow.get(\"e_date_live\")\nconst e_date = new Date(msg.payload.end);\nlet e_year = e_date.getFullYear();\nconst e_month = e_date.getMonth()+1;\nconst e_day = e_date.getDate();\n\nconst e_time = msg.payload.t_time\nvar min = msg.payload.t_time / 60000;\nvar e_hh = Math.floor(min / 60).toString();\nvar e_mm = Math.floor(min % 60).toString();\n\nif (e_mm.length < 2) {\n    e_mm = '0' + e_mm;\n}\n\nif (e_hh.length < 2) {\n    e_hh = '0' + e_hh;\n}\nconst ch_ID = global.get(\"TS_CH_ID\");\n\ntmp.method = \"GET\";\nlet link = `https://api.thingspeak.com/channels/${ch_ID}/feeds.json?start=${s_year}-${s_month}-${s_day}%20${s_hh}:${s_mm}:00&end=${e_year}-${e_month}-${e_day}%20${e_hh}:${e_mm}:59`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 220,
        "wires": [
            [
                "b6171d0f7b673284"
            ]
        ]
    },
    {
        "id": "ed2193e381f60457",
        "type": "ui_date_picker",
        "z": "826880ae0edaf3c4",
        "name": "",
        "label": "From",
        "group": "760d542e0573d812",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "start",
        "topicType": "str",
        "className": "",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "267164679279520f",
                "97e293c674e9ab9d"
            ]
        ]
    },
    {
        "id": "dbb3ae3cbe787e29",
        "type": "ui_date_picker",
        "z": "826880ae0edaf3c4",
        "name": "",
        "label": "To",
        "group": "760d542e0573d812",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "end",
        "topicType": "str",
        "className": "",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "267164679279520f",
                "895d411c6ab6c528"
            ]
        ]
    },
    {
        "id": "267164679279520f",
        "type": "join",
        "z": "826880ae0edaf3c4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "7bdc97a986ad6f1a",
                "dcfb75b566d0bd76",
                "615b33a8b77eb79d"
            ]
        ]
    },
    {
        "id": "b6171d0f7b673284",
        "type": "http request",
        "z": "826880ae0edaf3c4",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "67c529d5546f8211",
                "88a8942f217a6e42"
            ]
        ]
    },
    {
        "id": "5ff829d16bac76ab",
        "type": "ui_chart",
        "z": "826880ae0edaf3c4",
        "name": "",
        "group": "760d542e0573d812",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temprature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "67c529d5546f8211",
        "type": "python3-function",
        "z": "826880ae0edaf3c4",
        "name": "",
        "func": "from datetime import datetime\ntmp ={}\nchart = {\"series\":[],\"data\":[],\"labels\":[]}\ndata =[]\n\nimport_data = msg[\"payload\"][\"feeds\"]\nfor val in import_data:\n    datetime_obj = datetime.strptime(val[\"created_at\"], '%Y-%m-%dT%H:%M:%SZ')\n    timestamp = (datetime_obj - datetime(1970, 1, 1)).total_seconds()\n    # timestamp = datetime_obj.timestamp()\n    if val[\"field1\"] != None:\n        data.append({\"x\":val[\"created_at\"],\"y\":float(val[\"field1\"].replace('\"',''))})\n\nchart[\"series\"] = [\"A\"]\nchart[\"labels\"] = [\"\"]\n\nchart[\"data\"] = [data]\ntmp[\"payload\"] = [chart]\nreturn tmp",
        "outputs": 1,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "5ff829d16bac76ab"
            ]
        ]
    },
    {
        "id": "88a8942f217a6e42",
        "type": "python3-function",
        "z": "826880ae0edaf3c4",
        "name": "",
        "func": "from datetime import datetime\ntmp ={}\nchart = {\"series\":[],\"data\":[],\"labels\":[]}\ndata =[]\n\nimport_data = msg[\"payload\"][\"feeds\"]\nfor val in import_data:\n    datetime_obj = datetime.strptime(val[\"created_at\"], '%Y-%m-%dT%H:%M:%SZ')\n    timestamp = (datetime_obj - datetime(1970, 1, 1)).total_seconds()\n    # timestamp = datetime_obj.timestamp()\n    if val[\"field2\"] != None:\n        data.append({\"x\":val[\"created_at\"],\"y\":float(val[\"field2\"].replace('\"',''))})\n\nchart[\"series\"] = [\"A\"]\nchart[\"labels\"] = [\"\"]\n\nchart[\"data\"] = [data]\ntmp[\"payload\"] = [chart]\nreturn tmp",
        "outputs": 1,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "91edf54a2c938b34"
            ]
        ]
    },
    {
        "id": "a6812b6cb85dde08",
        "type": "inject",
        "z": "826880ae0edaf3c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "edfd41f9205cebcc"
            ]
        ]
    },
    {
        "id": "f7dfd7f201a3c0dd",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "function 15",
        "func": "\nmsg.color = (msg.payload == \"on\") ? \"lime\" : \"red\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 120,
        "wires": [
            [
                "37febdee46811633"
            ]
        ]
    },
    {
        "id": "2fe87d8fb596a030",
        "type": "link in",
        "z": "826880ae0edaf3c4",
        "name": "link in 4",
        "links": [
            "20d532843722f3bc"
        ],
        "x": 205,
        "y": 180,
        "wires": [
            [
                "dcfb75b566d0bd76"
            ]
        ]
    },
    {
        "id": "7bdc97a986ad6f1a",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "function 18",
        "func": "const s_date = new Date(msg.payload.start);\nflow.set(\"s_date_live\", s_date);\nconst e_date = new Date(msg.payload.end);\nflow.set(\"e_date_live\", e_date)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0198ca7a690784d0",
        "type": "ui_text_input",
        "z": "826880ae0edaf3c4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "760d542e0573d812",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "f_time",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "267164679279520f",
                "ad95f9bdd3ea4f1e"
            ]
        ]
    },
    {
        "id": "df817cd48ccf012b",
        "type": "ui_text_input",
        "z": "826880ae0edaf3c4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "760d542e0573d812",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "t_time",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "267164679279520f",
                "c620220ec99c1b45"
            ]
        ]
    },
    {
        "id": "615b33a8b77eb79d",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "ad95f9bdd3ea4f1e",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "c620220ec99c1b45",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "895d411c6ab6c528",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "97e293c674e9ab9d",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "4836f1d39581e5c5",
        "type": "mqtt in",
        "z": "826880ae0edaf3c4",
        "name": "",
        "topic": "Irrigation/+/+/+/Pump_status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f26e18f67ba7d048",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "e5d03b35a8e34dd1",
                "e34da9cd955ce0d1"
            ]
        ]
    },
    {
        "id": "01f76d6cd884229d",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "e5d03b35a8e34dd1",
        "type": "function",
        "z": "826880ae0edaf3c4",
        "name": "function 24",
        "func": "var tmp = {};\nvar topic = msg.topic;\nvar farm = topic.split('/')[1];\nvar section = topic.split('/')[2];\nvar glob_farm = global.get(\"farm\");\nvar glob_sec = global.get(\"section\");\nif (glob_farm == farm && glob_sec == section) {\n    tmp.payload = msg.payload.e[0].value;\n}\nreturn tmp;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "01f76d6cd884229d",
                "f7dfd7f201a3c0dd"
            ]
        ]
    },
    {
        "id": "e34da9cd955ce0d1",
        "type": "debug",
        "z": "826880ae0edaf3c4",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "6ec63603ae43adeb",
        "type": "ui_gauge",
        "z": "35d84e1661220e87",
        "name": "",
        "group": "872843d3cbac360c",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Live",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "f42c8a052b3e9613",
        "type": "ui_gauge",
        "z": "35d84e1661220e87",
        "name": "",
        "group": "872843d3cbac360c",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil moisture Live",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "b60dfc4ac6e17c62",
        "type": "function",
        "z": "35d84e1661220e87",
        "d": true,
        "g": "443be9c85abad5d6",
        "name": "function 11",
        "func": "let tmp = {};\nconst s_date = new Date(msg.payload.start);\nlet s_year = s_date.getFullYear();\nconst s_month = s_date.getMonth()+1;\nconst s_day = s_date.getDate();\n\nconst e_date = new Date(msg.payload.end);\nlet e_year = e_date.getFullYear();\nconst e_month = e_date.getMonth()+1;\nconst e_day = e_date.getDate();\n\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/statistic/period?userID=${global.get(\"user\")}&farmID=${global.get(\"farm\")}&sectionID=${global.get(\"section\")}&start=${s_day}/${s_month}/${s_year} 00:00:00&end=${e_day}/${e_month}/${e_year} 23:59:59`\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "f2571359c99887eb"
            ]
        ]
    },
    {
        "id": "caced34b02fd86f8",
        "type": "ui_date_picker",
        "z": "35d84e1661220e87",
        "d": true,
        "g": "443be9c85abad5d6",
        "name": "",
        "label": "From",
        "group": "70fb6f524aecfe93",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "start",
        "topicType": "str",
        "className": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "1e19e81cbbcc02da"
            ]
        ]
    },
    {
        "id": "545ba76f3d838e39",
        "type": "ui_date_picker",
        "z": "35d84e1661220e87",
        "d": true,
        "g": "443be9c85abad5d6",
        "name": "",
        "label": "To",
        "group": "70fb6f524aecfe93",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "end",
        "topicType": "str",
        "className": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "1e19e81cbbcc02da"
            ]
        ]
    },
    {
        "id": "1e19e81cbbcc02da",
        "type": "join",
        "z": "35d84e1661220e87",
        "g": "443be9c85abad5d6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "b60dfc4ac6e17c62"
            ]
        ]
    },
    {
        "id": "f2571359c99887eb",
        "type": "http request",
        "z": "35d84e1661220e87",
        "g": "443be9c85abad5d6",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "b3961f38c1ce9fdb"
            ]
        ]
    },
    {
        "id": "b3961f38c1ce9fdb",
        "type": "ui_gauge",
        "z": "35d84e1661220e87",
        "d": true,
        "g": "443be9c85abad5d6",
        "name": "",
        "group": "70fb6f524aecfe93",
        "order": 3,
        "width": "7",
        "height": "4",
        "gtype": "gage",
        "title": "Enegy Consumption",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "accc9538fb019aa2",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 12",
        "func": "let tmp = {};\nlet s_date = flow.get(\"date_cons\")\n// const s_date = new Date(pre_Date)\n// const s_date = new Date(msg.payload);\nlet s_year = s_date.getFullYear();\nconst s_month = s_date.getMonth()+1;\nconst s_day = s_date.getDate();\n\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/statistic/day?userID=${global.get(\"user\")}&farmID=${global.get(\"farm\")}&sectionID=${global.get(\"section\")}&day=${s_day}/${s_month}/${s_year}`\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "353fb03f7f7bd65c"
            ]
        ]
    },
    {
        "id": "566a85bf8533b684",
        "type": "ui_date_picker",
        "z": "35d84e1661220e87",
        "name": "",
        "label": "Date",
        "group": "70fb6f524aecfe93",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "topic": "start",
        "topicType": "str",
        "className": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "071c141e9c87d5e0"
            ]
        ]
    },
    {
        "id": "353fb03f7f7bd65c",
        "type": "http request",
        "z": "35d84e1661220e87",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "78df927332746c44"
            ]
        ]
    },
    {
        "id": "78df927332746c44",
        "type": "ui_gauge",
        "z": "35d84e1661220e87",
        "name": "",
        "group": "70fb6f524aecfe93",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Daily Enegy Consumption",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "f798a663c842fdb0",
        "type": "ui_chart",
        "z": "35d84e1661220e87",
        "name": "",
        "group": "70fb6f524aecfe93",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Monthly usage",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a01faf4b639ad4a7",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 14",
        "func": "let tmp={}\nlet selected_year = flow.get(\"year_selected\")\n\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/statistic/year?userID=${global.get(\"user\")}&farmID=${global.get(\"farm\")}&sectionID=${global.get(\"section\")}&year=${selected_year}`\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "580587c835d9df29"
            ]
        ]
    },
    {
        "id": "580587c835d9df29",
        "type": "http request",
        "z": "35d84e1661220e87",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "de6450e3326c9a5c"
            ]
        ]
    },
    {
        "id": "de6450e3326c9a5c",
        "type": "python3-function",
        "z": "35d84e1661220e87",
        "name": "",
        "func": "tmp = {}\n_cons = []\n_month = ['January', 'February', 'March', 'April', 'May', 'June',\n'July', 'August', 'September', 'October', 'November', 'December']\n\n\n_dict = msg[\"payload\"]\nfor month in _month:\n    _cons.append(_dict[month])\n# for key, value in _dict.items():\n#     _cons.append(value)\n#     _month.append(key)\n    \ntmp['payload'] = [{\n    \"series\": [\"temp1\"],\n    \"data\": [_cons],\n    \"labels\": _month\n}];\n    \ntmp[\"cons\"] = _cons\ntmp[\"month\"] = _month\nreturn tmp",
        "outputs": 1,
        "x": 730,
        "y": 620,
        "wires": [
            [
                "f798a663c842fdb0"
            ]
        ]
    },
    {
        "id": "3d3476e0d9ba4f4d",
        "type": "ui_dropdown",
        "z": "35d84e1661220e87",
        "name": "",
        "label": "Select Year",
        "tooltip": "",
        "place": "",
        "group": "70fb6f524aecfe93",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "var startYear = moment().subtract(10, 'years').year(); // ten years ago var endYear = moment().year(); var yearOptions = []; for (var year = startYear; year <= endYear; year++) {     yearOptions.push({         \"value\": year,         \"label\": year.toString()     }); } return yearOptions;Select option",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "95571ca81b1f1195"
            ]
        ]
    },
    {
        "id": "8866c0a464f3b317",
        "type": "python3-function",
        "z": "35d84e1661220e87",
        "name": "",
        "func": "from datetime import datetime\nyear = datetime.now().year\nyears =[]\nfor i in range(10):\n    years.append(year - i)\nmsg[\"options\"] = years\nreturn msg",
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "3d3476e0d9ba4f4d"
            ]
        ]
    },
    {
        "id": "ee68c2e8f1fbc4dd",
        "type": "inject",
        "z": "35d84e1661220e87",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "8866c0a464f3b317"
            ]
        ]
    },
    {
        "id": "20c43c6632a9fa78",
        "type": "link in",
        "z": "35d84e1661220e87",
        "name": "link in 1",
        "links": [
            "20d532843722f3bc"
        ],
        "x": 265,
        "y": 360,
        "wires": [
            [
                "accc9538fb019aa2"
            ]
        ]
    },
    {
        "id": "071c141e9c87d5e0",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 16",
        "func": "const s_date = new Date(msg.payload)\nflow.set(\"date_cons\", s_date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 400,
        "wires": [
            [
                "accc9538fb019aa2"
            ]
        ]
    },
    {
        "id": "95571ca81b1f1195",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 17",
        "func": "flow.set(\"year_selected\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 620,
        "wires": [
            [
                "a01faf4b639ad4a7"
            ]
        ]
    },
    {
        "id": "049f6f9e4b87586a",
        "type": "link in",
        "z": "35d84e1661220e87",
        "name": "link in 2",
        "links": [
            "20d532843722f3bc"
        ],
        "x": 185,
        "y": 660,
        "wires": [
            [
                "a01faf4b639ad4a7"
            ]
        ]
    },
    {
        "id": "f8cab4789840690e",
        "type": "mqtt in",
        "z": "35d84e1661220e87",
        "name": "Soil_moisture",
        "topic": "Irrigation/data/+/+/2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f26e18f67ba7d048",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "ba36129b2e8b0f85"
            ]
        ]
    },
    {
        "id": "06833095a1d53387",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 22",
        "func": "var tmp = {};\nvar topic = msg.topic;\nvar farm = topic.split('/')[2];\nvar section = topic.split('/')[3];\nvar glob_farm = global.get(\"farm\");\nvar glob_sec = global.get(\"section\");\nif (glob_farm == farm && glob_sec == section) {\n    tmp.payload = msg.payload.e[0].value;\n}\nreturn tmp;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [
            [
                "6ec63603ae43adeb"
            ]
        ]
    },
    {
        "id": "0e3aedd2d9dd76b5",
        "type": "mqtt in",
        "z": "35d84e1661220e87",
        "name": "Temprature",
        "topic": "Irrigation/data/+/+/1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f26e18f67ba7d048",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "06833095a1d53387"
            ]
        ]
    },
    {
        "id": "ba36129b2e8b0f85",
        "type": "function",
        "z": "35d84e1661220e87",
        "name": "function 23",
        "func": "var tmp = {};\nvar topic = msg.topic;\nvar farm = topic.split('/')[2];\nvar section = topic.split('/')[3];\nvar glob_farm = global.get(\"farm\");\nvar glob_sec = global.get(\"section\");\nif (glob_farm == farm && glob_sec == section) {\n    tmp.payload = msg.payload.e[0].value;\n}\nreturn tmp;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f42c8a052b3e9613"
            ]
        ]
    },
    {
        "id": "ddda206ec18debed",
        "type": "ui_slider",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Temprature   ",
        "tooltip": "",
        "group": "d6d42a467721bbee",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "temp",
        "topicType": "str",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 1210,
        "y": 340,
        "wires": [
            [
                "0fa1558646afe900",
                "3e6f202504ae74f8"
            ]
        ]
    },
    {
        "id": "33cf996c5d1b1315",
        "type": "ui_slider",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Min Moisture",
        "tooltip": "",
        "group": "d6d42a467721bbee",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "011125e9d0252ef3",
                "b618bc53f2ece7b6"
            ]
        ]
    },
    {
        "id": "62fbdc133ea489b7",
        "type": "ui_slider",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Max Moisture",
        "tooltip": "",
        "group": "d6d42a467721bbee",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "c57e7dc8f214e517",
                "5c8e55c2d87d3d42"
            ]
        ]
    },
    {
        "id": "0fa1558646afe900",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "d6d42a467721bbee",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "c57e7dc8f214e517",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "d6d42a467721bbee",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 460,
        "wires": []
    },
    {
        "id": "011125e9d0252ef3",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "d6d42a467721bbee",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 380,
        "wires": []
    },
    {
        "id": "5abb4f9a68ea7194",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8922867e56a83d08",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1590,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0bd5253f9ca191",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1590,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "120a809893009f75",
        "type": "ui_dropdown",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "User ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "0ca708bd9099f601",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "user",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "d81d48f7d3670809",
                "6504f395df7ef468"
            ]
        ]
    },
    {
        "id": "d885c7a5d8cddb0b",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "6db17fec20f4bd3e"
            ]
        ]
    },
    {
        "id": "887e194f09393f8f",
        "type": "ui_button",
        "z": "e3f466151cefe330",
        "name": "",
        "group": "0ca708bd9099f601",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh User",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "d885c7a5d8cddb0b"
            ]
        ]
    },
    {
        "id": "0f053859e07333ef",
        "type": "ui_dropdown",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Farm ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "0ca708bd9099f601",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "farm",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "2105f4a629b2fa43",
                "b709fc6c248e0357"
            ]
        ]
    },
    {
        "id": "d219ac52cb253eec",
        "type": "ui_dropdown",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Section ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "0ca708bd9099f601",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "section",
        "topicType": "str",
        "className": "",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "4440a456641f982b",
                "438a1ca50fbf882c"
            ]
        ]
    },
    {
        "id": "6db17fec20f4bd3e",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Def Catalog, Find user",
        "func": "// catalog = msg.payload;\nglobal.set(\"catalog_users\", msg.payload);\nvar dict = msg.payload;\nvar users = [];\nfor (var user in dict) {\n    for (var val in dict[user]) {\n        users.push(dict[user][val][\"userID\"]);\n    }\n}\n\nvar tmp = {};\ntmp.options = users;\ntmp.payload = msg.payload;\ntmp.topic = \"catalog\";\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            [
                "120a809893009f75"
            ]
        ]
    },
    {
        "id": "3de2ca86a05e851f",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Find farms",
        "func": "let tmp = {};\nvar catalog = global.get(\"catalog_users\");\nlet farms_list = [];\n\nfor (let user of Object.values(catalog)) {\n    for (let val of Object.values(user)) {\n        if (val.userID == global.get(\"user\")) {\n            if (val.pass == msg.pass){\n                farms_list = val.farm_list;\n            }\n            else{\n                tmp.payload = \"The password is not correct\"\n            }\n        }\n    }\n}\n\ntmp.options = farms_list;\n// msg.payload = global.get(\"user\");\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "0f053859e07333ef",
                "175b5e5eaf011f6b"
            ]
        ]
    },
    {
        "id": "2105f4a629b2fa43",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Global farm",
        "func": "global.set(\"farm\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 180,
        "wires": [
            [
                "da3b7dc1662c6f03"
            ]
        ]
    },
    {
        "id": "4440a456641f982b",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Global sections, TS_ChannelID",
        "func": "global.set(\"section\", msg.payload);\nglobal.set(\"pump_check\", \"trig\")\n\nvar catalog = global.get(\"catalog\");\nvar sec_list = [];\nfor (var farm in catalog) {\n    for (var val in catalog[farm]) {\n        if (catalog[farm][val][\"farmID\"] == global.get(\"farm\")) {\n            var sections = catalog[farm][val][\"Sections\"];\n                for (var sec in sections) {\n                    if (sections[sec][\"sectionID\"] == msg.payload) {\n                        global.set(\"TS_CH_ID\", sections[sec][\"TS_ChannelID\"])\n                }\n            }\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "e861bf24442c9ee2",
                "20d532843722f3bc"
            ]
        ]
    },
    {
        "id": "3e6f202504ae74f8",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 5",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\n// var value = msg.payload.temp\n// const str = value.toString()\ntmp.method = \"PUT\";\nlet link = `http://127.0.0.1:8080/catalog/Temp_thresh/?userID=${user}&farmID=${farm}&sectionID=${sec}&value=${String(msg.payload)}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 340,
        "wires": [
            [
                "5abb4f9a68ea7194"
            ]
        ]
    },
    {
        "id": "b618bc53f2ece7b6",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 6",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\n// var value = msg.payload.temp\n// const str = value.toString()\ntmp.method = \"PUT\";\nlet link = `http://127.0.0.1:8080/catalog/Mois_min_thresh/?userID=${user}&farmID=${farm}&sectionID=${sec}&value=${String(msg.payload)}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 420,
        "wires": [
            [
                "8922867e56a83d08"
            ]
        ]
    },
    {
        "id": "5c8e55c2d87d3d42",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 7",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\n// var value = msg.payload.temp\n// const str = value.toString()\ntmp.method = \"PUT\";\nlet link = `http://127.0.0.1:8080/catalog/Mois_max_thresh/?userID=${user}&farmID=${farm}&sectionID=${sec}&value=${String(msg.payload)}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 500,
        "wires": [
            [
                "aa0bd5253f9ca191"
            ]
        ]
    },
    {
        "id": "1bc67a7d72850f06",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Find sections",
        "func": "var catalog = msg.payload;\nglobal.set(\"catalog\", msg.payload);\nvar sec_list = [];\nlet selected_farm = global.get(\"farm\");\nvar s_farm = null;\nvar farms = catalog.Farms\n\nfor (var key in farms){\n    if (farms[key][\"farmID\"] == selected_farm){\n        for(var sec_key in farms[key]['Sections']){\n            sec_list.push(farms[key]['Sections'][sec_key]['sectionID'])\n        }\n    }\n}\n\nmsg.options = sec_list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "d219ac52cb253eec"
            ]
        ]
    },
    {
        "id": "6504f395df7ef468",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Global user",
        "func": "global.set(\"user\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 100,
        "wires": [
            [
                "9fb967af5bbacb39"
            ]
        ]
    },
    {
        "id": "322c195ad1ab0843",
        "type": "inject",
        "z": "e3f466151cefe330",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d885c7a5d8cddb0b"
            ]
        ]
    },
    {
        "id": "e861bf24442c9ee2",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Create link Thresh",
        "func": "// var tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\nmsg.method = \"GET\";\nmsg.url = `http://127.0.0.1:8080/catalog/threshold?userID=${user}&farmID=${farm}&sectionID=${sec}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 340,
        "wires": [
            [
                "d62e7f3a2ffa62f0"
            ]
        ]
    },
    {
        "id": "d62e7f3a2ffa62f0",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "961675db76663184",
                "3f42c99e4c87f270",
                "c61f086a13efad17"
            ]
        ]
    },
    {
        "id": "961675db76663184",
        "type": "python3-function",
        "z": "e3f466151cefe330",
        "name": "",
        "func": "msg[\"payload\"]  = msg[\"payload\"][\"temp\"]\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "ddda206ec18debed"
            ]
        ]
    },
    {
        "id": "3f42c99e4c87f270",
        "type": "python3-function",
        "z": "e3f466151cefe330",
        "name": "",
        "func": "msg[\"payload\"]  = msg[\"payload\"][\"mois_min\"]\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "33cf996c5d1b1315"
            ]
        ]
    },
    {
        "id": "c61f086a13efad17",
        "type": "python3-function",
        "z": "e3f466151cefe330",
        "name": "",
        "func": "msg[\"payload\"]  = msg[\"payload\"][\"mois_max\"]\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "62fbdc133ea489b7"
            ]
        ]
    },
    {
        "id": "d81d48f7d3670809",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "083d461c605f29cf",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "User: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "b709fc6c248e0357",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "083d461c605f29cf",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Farm: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1150,
        "y": 140,
        "wires": []
    },
    {
        "id": "438a1ca50fbf882c",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "083d461c605f29cf",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Section: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "20d532843722f3bc",
        "type": "link out",
        "z": "e3f466151cefe330",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "049f6f9e4b87586a",
            "20c43c6632a9fa78",
            "e154c0cc837655db",
            "2fe87d8fb596a030",
            "3ffa4740fe0b4a91",
            "ef7dd2d1661a5e2e"
        ],
        "x": 1305,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2caad4c021ed932",
        "type": "ui_ui_control",
        "z": "e3f466151cefe330",
        "name": "",
        "events": "connect",
        "x": 1280,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "0807a71b65071b04",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 620,
        "wires": [
            [
                "2e3a81648dcaf4e1"
            ]
        ]
    },
    {
        "id": "e86396425c5731f6",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "083d461c605f29cf",
        "order": 4,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Controller status    ",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>   {{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1380,
        "y": 620,
        "wires": []
    },
    {
        "id": "0416f859f581088c",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/control_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 620,
        "wires": [
            [
                "0807a71b65071b04"
            ]
        ]
    },
    {
        "id": "88cd26f472fd872c",
        "type": "inject",
        "z": "e3f466151cefe330",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pump_check",
        "payloadType": "global",
        "x": 330,
        "y": 620,
        "wires": [
            [
                "0416f859f581088c",
                "36f883f06c433da0"
            ]
        ]
    },
    {
        "id": "2e3a81648dcaf4e1",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 19",
        "func": "if (msg.statusCode != 200) {\n    msg.payload = \"Not Connected\"\n    msg.color = \"orange\";\n} else {\n    msg.color = (msg.payload == \"auto\") ? \"lime\" : \"red\";\n}\n// msg.color = (msg.payload == \"auto\")?\"lime\":\"red\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "e86396425c5731f6"
            ]
        ]
    },
    {
        "id": "3ffa4740fe0b4a91",
        "type": "link in",
        "z": "e3f466151cefe330",
        "name": "link in 5",
        "links": [
            "20d532843722f3bc"
        ],
        "x": 335,
        "y": 700,
        "wires": [
            [
                "0416f859f581088c",
                "36f883f06c433da0"
            ]
        ]
    },
    {
        "id": "145e43a65ce0303e",
        "type": "ui_switch",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Controller",
        "tooltip": "",
        "group": "0ca708bd9099f601",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 820,
        "wires": [
            [
                "ddef9c62c7069863",
                "05b23f452d266ef3",
                "bbe283d285b604d8"
            ]
        ]
    },
    {
        "id": "ddef9c62c7069863",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\nlet link ='';\ntmp.method = \"PUT\";\nif (msg.payload == true){\n    link = `http://127.0.0.1:8080/catalog/control_status?userID=${user}&farmID=${farm}&sectionID=${sec}&value=auto`;\n} else if (msg.payload == false ){\n    link = `http://127.0.0.1:8080/catalog/control_status?userID=${user}&farmID=${farm}&sectionID=${sec}&value=manual`;\n\n}\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "3682bd5c9a05dc82"
            ]
        ]
    },
    {
        "id": "3682bd5c9a05dc82",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 820,
        "wires": [
            [
                "0416f859f581088c"
            ]
        ]
    },
    {
        "id": "eb16c540ec4dc216",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 20",
        "func": "if (msg.payload == \"auto\") {\n    msg.payload = true\n} else if (msg.payload == \"manual\") {\n    msg.payload =false\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 820,
        "wires": [
            [
                "145e43a65ce0303e"
            ]
        ]
    },
    {
        "id": "1cc5ac1204ecd96e",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 740,
        "wires": [
            [
                "eb16c540ec4dc216"
            ]
        ]
    },
    {
        "id": "36f883f06c433da0",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/control_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 740,
        "wires": [
            [
                "1cc5ac1204ecd96e"
            ]
        ]
    },
    {
        "id": "bbe283d285b604d8",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "function 21",
        "func": "if (msg.payload == true){\n    msg.payload = {\n        \"group\": {\n            \"hide\": [\n                \"Setting_Manual_schedule\", \"Setting_Schedual\"\n            ]\n        }\n    };\n} else{\n    msg.payload = {\n        \"group\": {\n            \"show\": [\n                \"Setting_Schedual\"\n            ]\n        }\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 860,
        "wires": [
            [
                "b2caad4c021ed932"
            ]
        ]
    },
    {
        "id": "05b23f452d266ef3",
        "type": "debug",
        "z": "e3f466151cefe330",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 780,
        "wires": []
    },
    {
        "id": "c044f4cbee9681b1",
        "type": "ui_time_scheduler",
        "z": "e3f466151cefe330",
        "group": "916344f8e027fd93",
        "name": "",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 5,
        "width": "6",
        "height": "11",
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "8ae824dee656b70e"
            ],
            []
        ]
    },
    {
        "id": "03d5867418ce7855",
        "type": "inject",
        "z": "e3f466151cefe330",
        "name": "",
        "props": [
            {
                "p": "pp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 840,
        "wires": [
            [
                "994d436a1c0a7ca8"
            ]
        ]
    },
    {
        "id": "8ae824dee656b70e",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\nlet timejson = msg.payload\ntmp.method = \"PUT\";\nlet link = `http://127.0.0.1:8080/catalog/manual_schedul?userID=${user}&farmID=${farm}&sectionID=${sec}&value=${timejson}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1040,
        "wires": [
            [
                "38e48e000770fdfe"
            ]
        ]
    },
    {
        "id": "38e48e000770fdfe",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1530,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "994d436a1c0a7ca8",
        "type": "function",
        "z": "e3f466151cefe330",
        "name": "Make Link status of pump",
        "func": "let tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/manual_schedul?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet tmp = {};\nlet user = global.get(\"user\");\nlet farm = global.get(\"farm\");\nlet sec = global.get(\"section\");\ntmp.method = \"GET\";\nlet link = `http://127.0.0.1:8080/catalog/pump_status?userID=${user}&farmID=${farm}&sectionID=${sec}`;\ntmp.url = link;\nreturn tmp;",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "5b64087e3020cf82"
            ]
        ]
    },
    {
        "id": "5b64087e3020cf82",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1040,
        "wires": [
            [
                "1efe005a722cd0af"
            ]
        ]
    },
    {
        "id": "1efe005a722cd0af",
        "type": "json",
        "z": "e3f466151cefe330",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 1040,
        "wires": [
            [
                "c044f4cbee9681b1"
            ]
        ]
    },
    {
        "id": "ef7dd2d1661a5e2e",
        "type": "link in",
        "z": "e3f466151cefe330",
        "name": "link in 6",
        "links": [
            "20d532843722f3bc"
        ],
        "x": 335,
        "y": 780,
        "wires": [
            [
                "994d436a1c0a7ca8"
            ]
        ]
    },
    {
        "id": "da3b7dc1662c6f03",
        "type": "http request",
        "z": "e3f466151cefe330",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/farm_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 180,
        "wires": [
            [
                "1bc67a7d72850f06"
            ]
        ]
    },
    {
        "id": "29e367cdc7c4e144",
        "type": "ui_text_input",
        "z": "e3f466151cefe330",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "0ca708bd9099f601",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "c5ab4cbb4509cad2"
            ]
        ]
    },
    {
        "id": "c5ab4cbb4509cad2",
        "type": "change",
        "z": "e3f466151cefe330",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "pass",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "3de2ca86a05e851f"
            ]
        ]
    },
    {
        "id": "7cd15c1fcc1b63cc",
        "type": "ui_text",
        "z": "e3f466151cefe330",
        "group": "0ca708bd9099f601",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Password:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "175b5e5eaf011f6b",
        "type": "ui_toast",
        "z": "e3f466151cefe330",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 390,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "80cc42157af10c72",
        "type": "inject",
        "z": "e3f466151cefe330",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "0416f859f581088c"
            ]
        ]
    },
    {
        "id": "9fb967af5bbacb39",
        "type": "debug",
        "z": "e3f466151cefe330",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "14f970fe5c1eb0d3",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "3d6baf595358e84c",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "New Username:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "68ebb443636b0c6e",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3d6baf595358e84c",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "username",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "8a361e1bb234c3c2"
            ]
        ]
    },
    {
        "id": "226b58885dd0c710",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "3d6baf595358e84c",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "New Password:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "24012179cce4dd6b",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3d6baf595358e84c",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "8a361e1bb234c3c2"
            ]
        ]
    },
    {
        "id": "ccda457f8c11d8e9",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "3d79b00d87650532",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "New Farm:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e1ecc1c29221f29",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3d79b00d87650532",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "farm",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "727268141cda1c65"
            ]
        ]
    },
    {
        "id": "d20b00ff8c81394e",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "98725e43d801d2c7",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "New Section:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 940,
        "wires": []
    },
    {
        "id": "06f02c282c1975bc",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "98725e43d801d2c7",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "sec",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "01e389380f71dff3"
            ]
        ]
    },
    {
        "id": "10bf8d420024fa19",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "3d79b00d87650532",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "727268141cda1c65"
            ]
        ]
    },
    {
        "id": "d09cbf8e121a2139",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "98725e43d801d2c7",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "01e389380f71dff3"
            ]
        ]
    },
    {
        "id": "5c59a70cbe4af1f8",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "3d6baf595358e84c",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Add user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "8a361e1bb234c3c2"
            ]
        ]
    },
    {
        "id": "f7bf9278bcb9eec3",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "3d79b00d87650532",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Password:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 420,
        "wires": []
    },
    {
        "id": "2e4beb802b9f1f5d",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3d79b00d87650532",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "727268141cda1c65"
            ]
        ]
    },
    {
        "id": "4bf55f96d0bb7120",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "98725e43d801d2c7",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Password:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "89df80820281209d",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "98725e43d801d2c7",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "mode": "password",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 480,
        "y": 860,
        "wires": [
            [
                "84802b826ec577dc",
                "01e389380f71dff3"
            ]
        ]
    },
    {
        "id": "3e7ad3b66543c224",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"username\"] != None:\n            tmp[\"method\"] = \"POST\"\n            tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/add_user?new_user=\"+msg['payload']['username']+\"&pass=\"+msg['payload']['pass']\n            tmp[\"Topic\"] = \"The user is added\"\nreturn tmp",
        "outputs": 1,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "596ec74b60d8432b"
            ]
        ]
    },
    {
        "id": "8a361e1bb234c3c2",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "3e7ad3b66543c224"
            ]
        ]
    },
    {
        "id": "596ec74b60d8432b",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 140,
        "wires": [
            [
                "5d417e2fabdd6b80"
            ]
        ]
    },
    {
        "id": "5d417e2fabdd6b80",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "727268141cda1c65",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "7481b5f7583b8012"
            ]
        ]
    },
    {
        "id": "7481b5f7583b8012",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            if msg[\"payload\"][\"farm\"]!= None:\n                tmp[\"method\"] = \"POST\"\n                tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/add_farm?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']+\"&farmID=\"+msg['payload'][\"farm\"]\n                tmp[\"Topic\"] = \"The farm is added\"\nreturn tmp",
        "outputs": 1,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "4e64145c548c9769"
            ]
        ]
    },
    {
        "id": "4e64145c548c9769",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 420,
        "wires": [
            [
                "ec6c8aea4c963885"
            ]
        ]
    },
    {
        "id": "ec6c8aea4c963885",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cb1952441bc6cec1",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "User ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "3d79b00d87650532",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "user",
        "topicType": "str",
        "className": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "727268141cda1c65"
            ]
        ]
    },
    {
        "id": "fbe03a5fbce6e53c",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 300,
        "wires": [
            [
                "39bb620c97877e80"
            ]
        ]
    },
    {
        "id": "8bdb74fbdf664fed",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "3d79b00d87650532",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "fbe03a5fbce6e53c"
            ]
        ]
    },
    {
        "id": "39bb620c97877e80",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Def Catalog, Find user",
        "func": "// catalog = msg.payload;\nglobal.set(\"catalog_users\", msg.payload);\nvar dict = msg.payload;\nvar users = [];\nfor (var user in dict) {\n    for (var val in dict[user]) {\n        users.push(dict[user][val][\"userID\"]);\n    }\n}\n\nvar tmp = {};\ntmp.options = users;\ntmp.payload = msg.payload;\ntmp.topic = \"catalog\";\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "cb1952441bc6cec1"
            ]
        ]
    },
    {
        "id": "980fd02ae02e554f",
        "type": "inject",
        "z": "19c5158f8e9074e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "fbe03a5fbce6e53c"
            ]
        ]
    },
    {
        "id": "e430f5b738588199",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "User ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "98725e43d801d2c7",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "user",
        "topicType": "str",
        "className": "",
        "x": 700,
        "y": 680,
        "wires": [
            [
                "993429ba5de1c8f0",
                "84802b826ec577dc",
                "01e389380f71dff3"
            ]
        ]
    },
    {
        "id": "fd0abc8692f6b39e",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 680,
        "wires": [
            [
                "cea5ea2dda3cf20f"
            ]
        ]
    },
    {
        "id": "da5ab4837cc3982c",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "98725e43d801d2c7",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 680,
        "wires": [
            [
                "fd0abc8692f6b39e"
            ]
        ]
    },
    {
        "id": "cea5ea2dda3cf20f",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Def Catalog, Find user",
        "func": "// catalog = msg.payload;\nglobal.set(\"catalog_users\", msg.payload);\nvar dict = msg.payload;\nvar users = [];\nfor (var user in dict) {\n    for (var val in dict[user]) {\n        users.push(dict[user][val][\"userID\"]);\n    }\n}\n\nvar tmp = {};\ntmp.options = users;\ntmp.payload = msg.payload;\ntmp.topic = \"catalog\";\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 680,
        "wires": [
            [
                "e430f5b738588199"
            ]
        ]
    },
    {
        "id": "fba60670e7cd3db7",
        "type": "inject",
        "z": "19c5158f8e9074e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "fd0abc8692f6b39e"
            ]
        ]
    },
    {
        "id": "01e389380f71dff3",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 940,
        "wires": [
            [
                "6d10c4bc8ecaeb01"
            ]
        ]
    },
    {
        "id": "6d10c4bc8ecaeb01",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            if msg[\"payload\"][\"farm\"]!= None:\n                tmp[\"method\"] = \"POST\"\n                tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/add_section?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']+\"&farmID=\"+msg['payload'][\"farm\"]+\"&new_section=\"+msg[\"payload\"][\"sec\"]\n                tmp[\"Topic\"] = \"The section is added\"\nreturn tmp",
        "outputs": 1,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "f9c6772f5f492b3b"
            ]
        ]
    },
    {
        "id": "f9c6772f5f492b3b",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 940,
        "wires": [
            [
                "7701305f602fe3cb"
            ]
        ]
    },
    {
        "id": "27fa58740d3aefe7",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "Farm ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "98725e43d801d2c7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "farm",
        "topicType": "str",
        "className": "",
        "x": 1080,
        "y": 780,
        "wires": [
            [
                "01e389380f71dff3"
            ]
        ]
    },
    {
        "id": "d465a9a90ce5c201",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Find farms",
        "func": "let tmp = {};\nvar catalog = msg.payload.catalog;\nlet farms_list = [];\n\nfor (let user of Object.values(catalog)) {\n    for (let val of Object.values(user)) {\n        if (val.userID == msg.payload.user) {\n            if (val.pass == msg.payload.pass){\n                farms_list = val.farm_list;\n            }\n        }\n    }\n}\n\ntmp.options = farms_list;\n// msg.payload = global.get(\"user\");\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 780,
        "wires": [
            [
                "27fa58740d3aefe7"
            ]
        ]
    },
    {
        "id": "993429ba5de1c8f0",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 780,
        "wires": [
            [
                "77ee10b5619f754f"
            ]
        ]
    },
    {
        "id": "84802b826ec577dc",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 780,
        "wires": [
            [
                "d465a9a90ce5c201"
            ]
        ]
    },
    {
        "id": "77ee10b5619f754f",
        "type": "change",
        "z": "19c5158f8e9074e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "catalog",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "84802b826ec577dc"
            ]
        ]
    },
    {
        "id": "7701305f602fe3cb",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "46474013382659ab",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "User ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaa1609f4ba21bd",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "user",
        "topicType": "str",
        "className": "",
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "905fe88e9cc30b48",
                "8a3c17e2f5461115",
                "1d6b57ef583d7439",
                "4752c375529e4e9f",
                "ec7066ff750f3d53"
            ]
        ]
    },
    {
        "id": "61d88875808befcc",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "0ff3d4d55ec6f811"
            ]
        ]
    },
    {
        "id": "0ff3d4d55ec6f811",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Def Catalog, Find user",
        "func": "// catalog = msg.payload;\nglobal.set(\"catalog_users\", msg.payload);\nvar dict = msg.payload;\nvar users = [];\nfor (var user in dict) {\n    for (var val in dict[user]) {\n        users.push(dict[user][val][\"userID\"]);\n    }\n}\n\nvar tmp = {};\ntmp.options = users;\ntmp.payload = msg.payload;\ntmp.topic = \"catalog\";\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "46474013382659ab"
            ]
        ]
    },
    {
        "id": "f8dd0623120311e0",
        "type": "inject",
        "z": "19c5158f8e9074e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "61d88875808befcc"
            ]
        ]
    },
    {
        "id": "d4f06f2f5ed4ca40",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "5eaa1609f4ba21bd",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "61d88875808befcc"
            ]
        ]
    },
    {
        "id": "25a3715b8fde7edd",
        "type": "ui_text",
        "z": "19c5158f8e9074e5",
        "group": "5eaa1609f4ba21bd",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Password:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "98593cb082a260d5",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "5eaa1609f4ba21bd",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 780,
        "y": 1300,
        "wires": [
            [
                "905fe88e9cc30b48",
                "8a3c17e2f5461115",
                "4752c375529e4e9f",
                "ec7066ff750f3d53"
            ]
        ]
    },
    {
        "id": "cf4aa06a10defc82",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "5eaa1609f4ba21bd",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 770,
        "y": 1360,
        "wires": [
            [
                "905fe88e9cc30b48"
            ]
        ]
    },
    {
        "id": "ee4d6c914cb5f197",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            tmp[\"method\"] = \"DELETE\"\n            tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/delet_user?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']\n            tmp[\"Topic\"] = \"The user is added\"\nreturn tmp",
        "outputs": 1,
        "x": 1190,
        "y": 1240,
        "wires": [
            [
                "70d973a41e3e099b"
            ]
        ]
    },
    {
        "id": "905fe88e9cc30b48",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 999.765625,
        "y": 1241,
        "wires": [
            [
                "ee4d6c914cb5f197"
            ]
        ]
    },
    {
        "id": "70d973a41e3e099b",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1379.765625,
        "y": 1241,
        "wires": [
            [
                "af0dca9dc872a1af"
            ]
        ]
    },
    {
        "id": "af0dca9dc872a1af",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1559.765625,
        "y": 1241,
        "wires": [
            []
        ]
    },
    {
        "id": "ef490e19ef507a3d",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "5eaa1609f4ba21bd",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete farm from user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 800,
        "y": 1420,
        "wires": [
            [
                "8a3c17e2f5461115"
            ]
        ]
    },
    {
        "id": "222d17c9f0ca1959",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            tmp[\"method\"] = \"DELETE\"\n            tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/delete_farm_of_user?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']+\"&farmID=\"+msg['payload']['farm']\n            tmp[\"Topic\"] = \"The user is added\"\nreturn tmp",
        "outputs": 1,
        "x": 1190,
        "y": 1420,
        "wires": [
            [
                "d70181276348848c"
            ]
        ]
    },
    {
        "id": "8a3c17e2f5461115",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 999.765625,
        "y": 1421,
        "wires": [
            [
                "222d17c9f0ca1959"
            ]
        ]
    },
    {
        "id": "d70181276348848c",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1379.765625,
        "y": 1421,
        "wires": [
            [
                "c78d24cc0b19bcb8"
            ]
        ]
    },
    {
        "id": "c78d24cc0b19bcb8",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1559.765625,
        "y": 1421,
        "wires": [
            []
        ]
    },
    {
        "id": "a18f2bbe9bd9cf48",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "Farm ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaa1609f4ba21bd",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "farm",
        "topicType": "str",
        "className": "",
        "x": 980,
        "y": 1500,
        "wires": [
            [
                "8a3c17e2f5461115",
                "5b21eea98f1809ee",
                "ec7066ff750f3d53",
                "7627b1ba4526137e"
            ]
        ]
    },
    {
        "id": "537922c8dde72d16",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Find farms",
        "func": "let tmp = {};\nvar catalog = msg.payload.catalog;\nlet farms_list = [];\n\nfor (let user of Object.values(catalog)) {\n    for (let val of Object.values(user)) {\n        if (val.userID == msg.payload.user) {\n            if (val.pass == msg.payload.pass){\n                farms_list = val.farm_list;\n            }\n        }\n    }\n}\n\ntmp.options = farms_list;\n// msg.payload = global.get(\"user\");\nreturn tmp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "a18f2bbe9bd9cf48"
            ]
        ]
    },
    {
        "id": "1d6b57ef583d7439",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/user_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "c30f627cab54d04b"
            ]
        ]
    },
    {
        "id": "4752c375529e4e9f",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 1500,
        "wires": [
            [
                "537922c8dde72d16"
            ]
        ]
    },
    {
        "id": "c30f627cab54d04b",
        "type": "change",
        "z": "19c5158f8e9074e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "catalog",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "4752c375529e4e9f"
            ]
        ]
    },
    {
        "id": "772e2fc59ffd0264",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "name": "",
        "group": "5eaa1609f4ba21bd",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete Section from farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 990,
        "y": 1620,
        "wires": [
            [
                "ec7066ff750f3d53"
            ]
        ]
    },
    {
        "id": "5b21eea98f1809ee",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/farm_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 1600,
        "wires": [
            [
                "aec9512932cfdfd7"
            ]
        ]
    },
    {
        "id": "6ed2dd2e2515366e",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "name": "",
        "label": "Section ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaa1609f4ba21bd",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "section",
        "topicType": "str",
        "className": "",
        "x": 970,
        "y": 1720,
        "wires": [
            [
                "ec7066ff750f3d53"
            ]
        ]
    },
    {
        "id": "d055702cd6f054ae",
        "type": "function",
        "z": "19c5158f8e9074e5",
        "name": "Find sections",
        "func": "var catalog = msg.payload.catalog;\n// global.set(\"catalog\", msg.payload);\nvar sec_list = [];\nlet selected_farm = msg.payload.farm;\nvar s_farm = null;\nvar farms = catalog.Farms\n\nfor (var key in farms){\n    if (farms[key][\"farmID\"] == selected_farm){\n        for(var sec_key in farms[key]['Sections']){\n            sec_list.push(farms[key]['Sections'][sec_key]['sectionID'])\n        }\n    }\n}\n\nmsg.options = sec_list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1720,
        "wires": [
            [
                "6ed2dd2e2515366e"
            ]
        ]
    },
    {
        "id": "ec7066ff750f3d53",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1250,
        "y": 1620,
        "wires": [
            [
                "4ae8cbad37a01043"
            ]
        ]
    },
    {
        "id": "4ae8cbad37a01043",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            tmp[\"method\"] = \"DELETE\"\n            tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/delete_sec_of_farm?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']+\"&farmID=\"+msg['payload']['farm']+\"&sectionID=\"+msg['payload']['section']\n            tmp[\"Topic\"] = \"The user is added\"\nreturn tmp",
        "outputs": 1,
        "x": 1430,
        "y": 1620,
        "wires": [
            [
                "e54a4300459147d7"
            ]
        ]
    },
    {
        "id": "e54a4300459147d7",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1599.765625,
        "y": 1621,
        "wires": [
            [
                "2e0266725a8df946"
            ]
        ]
    },
    {
        "id": "2e0266725a8df946",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1779.765625,
        "y": 1621,
        "wires": [
            []
        ]
    },
    {
        "id": "62573284d9c7d45c",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "label": "Admin: ",
        "tooltip": "",
        "group": "7c9cbac3de8fa724",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "user",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 1940,
        "wires": [
            [
                "8ee22c6092aa380a"
            ]
        ]
    },
    {
        "id": "af3b3cc7b6854585",
        "type": "ui_text_input",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "7c9cbac3de8fa724",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "pass",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 1980,
        "wires": [
            [
                "8ee22c6092aa380a",
                "785883bdca39fc62"
            ]
        ]
    },
    {
        "id": "8ee22c6092aa380a",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 1960,
        "wires": [
            [
                "05890f0d512d362c"
            ]
        ]
    },
    {
        "id": "05890f0d512d362c",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "func": "tmp ={}\nif msg[\"payload\"][\"button\"]== True:\n    if msg[\"payload\"][\"pass\"] != None:\n        if msg[\"payload\"][\"user\"] != None:\n            tmp[\"method\"] = \"DELETE\"\n            tmp[\"url\"] = \"http://127.0.0.1:8080/catalog/delete_farm?userID=\"+msg['payload']['user']+\"&pass=\"+msg['payload']['pass']+\"&farmID=\"+msg['payload']['farm']\n            tmp[\"Topic\"] = \"The user is added\"\nreturn tmp",
        "outputs": 1,
        "x": 590,
        "y": 1960,
        "wires": [
            [
                "447dca4b8954bb11"
            ]
        ]
    },
    {
        "id": "447dca4b8954bb11",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 1960,
        "wires": [
            [
                "d15a09fda6dc4913"
            ]
        ]
    },
    {
        "id": "d15a09fda6dc4913",
        "type": "ui_toast",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 970,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "235d03d7b8d427cf",
        "type": "ui_dropdown",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "label": "Farm ID:",
        "tooltip": "",
        "place": "Select option",
        "group": "7c9cbac3de8fa724",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "farm",
        "topicType": "str",
        "className": "",
        "x": 760,
        "y": 2080,
        "wires": [
            [
                "8ee22c6092aa380a"
            ]
        ]
    },
    {
        "id": "d01675d469a0514c",
        "type": "change",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "catalog",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2080,
        "wires": [
            [
                "7ace21450d5bb09d"
            ]
        ]
    },
    {
        "id": "785883bdca39fc62",
        "type": "http request",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/catalog/farm_details",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 190,
        "y": 2080,
        "wires": [
            [
                "d01675d469a0514c"
            ]
        ]
    },
    {
        "id": "7ace21450d5bb09d",
        "type": "python3-function",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "func": "tmp ={}\nfarm_list = []\nfor key,val in msg[\"payload\"][\"Farms\"].items():\n    farm_list.append(val[\"farmID\"])\ntmp[\"options\"] = farm_list\nreturn tmp",
        "outputs": 1,
        "x": 570,
        "y": 2080,
        "wires": [
            [
                "235d03d7b8d427cf"
            ]
        ]
    },
    {
        "id": "98b4a4bfa15b15a9",
        "type": "ui_button",
        "z": "19c5158f8e9074e5",
        "g": "45e960f0757d3147",
        "name": "",
        "group": "7c9cbac3de8fa724",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 210,
        "y": 1900,
        "wires": [
            [
                "8ee22c6092aa380a"
            ]
        ]
    },
    {
        "id": "1ffb434d8925cc4f",
        "type": "debug",
        "z": "19c5158f8e9074e5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1600,
        "wires": []
    },
    {
        "id": "aec9512932cfdfd7",
        "type": "change",
        "z": "19c5158f8e9074e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "catalog",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "7627b1ba4526137e"
            ]
        ]
    },
    {
        "id": "7627b1ba4526137e",
        "type": "join",
        "z": "19c5158f8e9074e5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 1720,
        "wires": [
            [
                "d055702cd6f054ae",
                "1ffb434d8925cc4f"
            ]
        ]
    }
]